<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li><a href=""><i class="bx bxl-gmail"></i></a></li>
    <li><a rel="stylesheet" href="https://www.linkedin.com/in/tushar-shiwarkar-0319481b6/" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/tushar_shiwarkar/" target="_blank"><i class="bx bxl-instagram"></i></a></li>

  </ul>

  <ul class="contact-info">
    <li>Mobile: 8698423709</li>
    <li>tusharshiwarkar12@gmail.com</li>
  </ul>
</div>
